<section class="section" #aboutContent id="top">
  <nav class="about-nav">
    <a href="#o-nas">O nas</a>
    <a href="#mistrz-hua">Mistrz Hua</a>
    <a href="#spolecznosc">Społeczność</a>
  </nav>

  <div id="o-nas" class="about-section about-section--with-bg">
    <header class="section-header">
      <h2>O nas <a href="#top" class="go-back" title="Powrót do góry"><span class="icon-arrow-up"
                                                                            aria-hidden="true"></span><span
        class="sr-only">Powrót do góry</span></a></h2>
    </header>


    <article class="about-text">
      <p>
        Jesteśmy otwartą wspólnotą praktykującą w duchu współczucia i prostoty. Łączymy tradycję z
        wrażliwością na współczesność.
      </p>

      <p>Sfera Dharmy to przestrzeń spotkania, praktyki, rozmowy i wspólnego odkrywania. Tworzymy wspólnotę duchowych
        przyjaciół (kalyāṇamitra), ludzi, których łączy szczere poszukiwanie głębi, sensu i zrozumienia.</p>

      <p>Naszą drogą jest rozwijanie czterech jakości serca: życzliwości, współczucia, radości i równowagi. Staramy się
        wnosić je w codzienność, w relacje, w wybory i w sposób bycia. Kroczymy ścieżką bodhisattwy, ucząc się łączyć
        wewnętrzną przemianę z troską o dobro innych.</p>

      <p>Jesteśmy zakorzenieni w tradycji monastycznej Mistrza Hua, sięgającej linii przekazu Mistrza Pustej Chmury (Xu
        Yun). To zakorzenienie daje nam oparcie. Jednocześnie pozostajemy otwarci i czerpiemy inspirację z bliskiej
        relacji z tajską tradycją leśną, ServiceSpace oraz innymi współczesnymi formami praktyki opartymi na uważności,
        współczuciu i zaangażowaniu.</p>

      <p>Sfera Dharmy nie jest zamkniętym systemem. To żywa przestrzeń, w której Dharma, rozumiana jako mądrość dostępna
        każdemu, może odnajdywać swój wyraz w języku naszych czasów.</p>

      <p>Nie tworzymy nowych koncepcji. Uczymy się dostrajać do bezwarunkowej troski (frequency of care) i słuchać
        siebie,
        innych i świata z uważnością, sercem i ciekawością.</p>
    </article>
  </div>

  <div id="mistrz-hua" class="about-section">
    <header class="section-header">
      <h2>Mistrz Hua <a href="#top" class="go-back" title="Powrót do góry"><span class="icon-arrow-up"
                                                                                 aria-hidden="true"></span><span
        class="sr-only">Powrót do góry</span></a></h2>
    </header>

    <article class="mistrz-hua-content">
      <div class="float-img right">
        <figure class="article-figure">
          <img
            src="https://images.squarespace-cdn.com/content/v1/638101f1bfb9485af6a60b8f/1dd319a1-b27e-4034-8911-eae891eaeeb0/Photo+of+Shr+Fu-03.jpg"
            alt="Portret Mistrza Hsuan Hua">
          <figcaption>Mistrz Hsuan Hua</figcaption>
        </figure>
      </div>
      <p>
        Czcigodny Mistrz Hsuan Hua urodził się w 1918 roku w Mandżurii (Chiny), w biednej, wiejskiej rodzinie. Już we
        wczesnej młodości zainteresował się buddyzmem, a w wieku jedenastu lat rozpoczął praktykę pokłonów przed swoimi
        rodzicami, by okazać skruchę za swoje dawne niewłaściwe zachowanie. Później rozszerzył tę praktykę na wszystkie
        czujące istoty, wykonując ponad 800 pokłonów wczesnym rankiem i późno w nocy, bez względu na pogodę – deszcz czy
        śnieg. W wieku 18 lat założył w swojej wiosce bezpłatną szkołę dla biednych i niepiśmiennych osób, gdzie sam
        nauczał. Po śmierci matki, gdy miał 19 lat, zbudował chatę przy jej grobie i mieszkał w niej przez trzy lata,
        praktykując synowski szacunek. W tym czasie przyjął święcenia nowicjusza, intensywnie studiował sutry
        buddyjskie,
        praktykował medytację i ascezę. Właśnie wtedy doznał wizji, która później zaprowadziła go do USA, by szerzyć
        Dharmę: podczas medytacji ujrzał Szóstego Patriarchę Huinenga ze szkoły Ch'an (Zen), który powiedział mu, że w
        przyszłości uda się na Zachód, gdzie będzie nauczał wiele istot.
      </p>

      <div class="float-img left">
        <figure class="article-figure">
          <img
            src="https://images.squarespace-cdn.com/content/v1/638101f1bfb9485af6a60b8f/383dc872-d235-4ce2-9f9c-de7a742b3f7f/002-C.jpg"
            alt="Mistrz Hua podczas medytacji">
          <figcaption>Mistrz Hua podczas medytacji</figcaption>
        </figure>
      </div>
      <p>
        Po zakończeniu okresu żałoby osiadł w jaskini w górach Changbai, gdzie kontynuował swoją praktykę. W 1946 roku
        rozpoczął żmudną podróż przez Chiny, która zaprowadziła go do klasztoru Nanhua, gdzie pragnął złożyć hołd
        Czcigodnemu Mistrzowi Xuyun (Pusta Chmura), jednemu z najbardziej poważanych chińskich mnichów XX wieku. Pełne
        święcenia mnisie przyjął w 1947 roku na górze Putuo, a w 1948 roku dotarł w końcu do Nanhua, gdzie Czcigodny
        Mistrz Xuyun mianował go dyrektorem Akademii Winaji, a później dziekanem ds. akademickich. Z okazji swojego
        pierwszego spotkania z Czcigodnym Xuyunem, Mistrz Hua napisał:
      </p>
      <p style="font-style: italic; padding-left: 2rem;">
        Szlachetny Yun ujrzał mnie i rzekł: „Tak właśnie jest”.<br>
        Ujrzałem Szlachetnego Yuna i potwierdziłem: „Tak właśnie jest”.<br>
        Szlachetny Yun i ja, obaj Takowi,<br>
        Powszechnie ślubujemy, że wszystkie istoty również będą Takowe.
      </p>
      <p>
        W 1956 roku Czcigodny Mistrz Xuyun przekazał mu transmisję Dharmy linii Wei Yang Ch'an (Zen), a także imię
        „Hsuan Hua”.
      </p>

      <div class="float-img right">
        <figure class="article-figure">
          <img
            src="https://images.squarespace-cdn.com/content/v1/638101f1bfb9485af6a60b8f/f23edd38-0c6f-445c-b974-277fb781c276/Xuyun.jpg"
            alt="Mistrz Xuyun ">
          <figcaption>Mistrz Xuyun, Mistrzowi Hua</figcaption>
        </figure>
      </div>
      <p>
        W tym okresie Mistrz Hua podróżował intensywnie po Chinach i Hongkongu, wygłaszając wykłady na temat sutr,
        wspierając publikacje buddyjskie, budując klasztory i nauczając wielu uczniów. Odwiedził również Tajlandię i
        Birmę, gdzie zgłębiał buddyzm Theravada.
      </p>

      <p>
        W 1962 roku, na prośbę uczniów ze Stanów Zjednoczonych i widząc, że warunki są sprzyjające, by Dharma zapuściła
        korzenie na Zachodzie, udał się do Kalifornii, gdzie założył klasztor w San Francisco w dzielnicy Chinatown. W
        tym okresie nazywał siebie „mnichem w grobie”, ponieważ mieszkał w wilgotnej piwnicy bez okien. Później
        przeniósł
        się do budynku socjalnego, gdzie powoli zaczęła gromadzić się wokół niego grupa młodych ludzi z Zachodu. W 1968
        roku poprowadził 90-dniowe odosobnienie poświęcone studiowaniu Sutry Śurangama, w którym wzięło udział ponad 30
        studentów z Uniwersytetu Waszyngtońskiego. Pod koniec odosobnienia pięciu uczestników zdecydowało się przyjąć
        święcenia mnisie pod jego przewodnictwem, co było pierwszym przypadkiem nowicjatu na amerykańskiej ziemi.
      </p>

      <div class="float-img left">
        <figure class="article-figure">
          <img
            src="https://images.squarespace-cdn.com/content/v1/638101f1bfb9485af6a60b8f/c6feb500-d90a-4293-9c3a-c83ed7c652ea/First5.jpg"
            alt="Pierwszych pięciu amerykańskich uczniów wyświęconych na mnichów">
          <figcaption>Pierwszych pięciu amerykańskich uczniów wyświęconych na mnichów</figcaption>
        </figure>
      </div>
      <p>
        Podczas swojej kariery nauczycielskiej w USA nie tylko uczył swoich uczniów-mnichów, jak postępować i
        praktykować
        jako mnisi (zadanie niełatwe, biorąc pod uwagę ogromną przepaść kulturową między tradycyjnym chińskim
        monastycyzmem a Ameryką lat 60.), ale także niemal codziennie wykładał sutry buddyjskie oraz różne klasyczne
        chińskie teksty, prowadził lekcje chińskiego i przekazywał zasady buddyzmu swoim świeckim i mnisim uczniom
        poprzez codzienne, żywe interakcje, demonstrując, jak zasady te można zastosować w ich życiu. Jedną z jego
        maksym
        brzmiała: „Spotykając konkretne sprawy, rozumiemy zasady; rozumiejąc zasady, stosujemy je w konkretnych
        sprawach”.
      </p>

      <div class="float-img right">
        <figure class="article-figure">
          <img
            src="https://images.squarespace-cdn.com/content/v1/638101f1bfb9485af6a60b8f/c8e947b0-d788-4997-9427-c947c8d5b6a6/Western+Disciples.jpg"
            alt="Mistrz Hua z grupą zachodnich uczniów">
          <figcaption>Mistrz Hua z grupą zachodnich uczniów</figcaption>
        </figure>
      </div>
      <p>
        W 1974 roku Dharma Realm Buddhist Association (DRBA), organizacja pod przewodnictwem Mistrza Hua, zakupiła teren
        dawnego dużego szpitala psychiatrycznego na obrzeżach Ukiah w północnej Kalifornii. Tam założył Miasto
        Dziesięciu
        Tysięcy Buddów, jeden z największych buddyjskich kompleksów mnisich na Zachodzie i siedzibę stowarzyszenia.
      </p>

      <div class="float-img left">
        <figure class="article-figure">
          <img
            src="https://images.squarespace-cdn.com/content/v1/638101f1bfb9485af6a60b8f/ebf933e1-8996-4ba2-920b-2e398312d986/Ajahn+Sumedho.jpg"
            alt="Mistrz Hua i Ajahn Sumedho">
          <figcaption>Mistrz Hua i Ajahn Sumedho</figcaption>
        </figure>
      </div>
      <p>
        Mistrz Hua nadzorował także powstanie szkół podstawowych i średnich oraz uniwersytetu, kierując się
        przekonaniem,
        że solidny system edukacji jest kluczem do tego, by buddyzm mógł wnieść pozytywny i trwały wkład na Zachodzie.
        Założył również Towarzystwo Tłumaczeń Tekstów Buddyjskich i zachęcał swoich uczniów do nauki chińskiego oraz
        tłumaczenia sutr, wierząc, że buddyzm może zostać właściwie zrozumiany na Zachodzie tylko wtedy, gdy jego teksty
        doktrynalne będą dostępne dla czytelników w ich językach ojczystych. Ponadto starał się niwelować różnice między
        religiami i angażował się w liczne dialogi międzyreligijne z duchownymi innych wyznań, a co może najważniejsze,
        pragnął nawiązać więzi między tradycjami buddyzmu „północną” (Mahāyana) i „południową” (Theravāda). W 1991 roku
        zaprosił Ajahna Sumedho, starszego zachodniego mnicha z tajskiej tradycji leśnej Ajahna Chaha, by pełnił funkcję
        preceptora podczas ordynacji mnisiej w Mieście Dziesięciu Tysięcy Buddów (decyzja bezprecedensowa), a w 1995
        roku
        podarował mu działkę ziemi, na której powstał Klasztor Leśny Abhayagiri.
      </p>

      <p>
        7 czerwca 1995 roku, po długim okresie choroby, Czcigodny Mistrz Hua odszedł we śnie. „Przybyłem z pustej
        przestrzeni i w pustą przestrzeń powrócę” – brzmiały jego pożegnalne słowa.
      </p>
      <p>
        W wieku 19 lat Mistrz Hua złożył ślubowanie: „wszelkie błogosławieństwa i szczęście, które sam powinienem
        otrzymać i którymi powinienem się cieszyć, poświęcam wszystkim czującym istotom wszechświata”. Jego życie było
        prawdziwym przykładem tej zasady. Zawsze poświęcał własne dobro, by okazywać życzliwość i przynosić korzyść
        innym, używając wszelkich dostępnych mu środków, by prowadzić otaczających go ludzi ku przebudzeniu do
        fundamentalnej rzeczywistości, którą, jak często mawiał, jest fakt, że: „Wszystko jest w porządku. Nie ma
        żadnego
        problemu”.
      </p>


      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fk1VGfUdbtw?si=BYBmggw5uG-dWwAr"
                title="Odtwarzacz wideo YouTube" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
      </div>

      <p class="playlist-link">
        Więcej relacji o Czcigodnym Mistrzu Hua z perspektywy jego uczniów można znaleźć na kanale YouTube <a
        href="https://www.youtube.com/watch?v=y_KHiA4cF5k&list=PLzGLsqecUUVgTbOCdUdPmMnbuVWVofA68" target="_blank">projektu
        Oral History.</a>
      </p>
    </article>
  </div>

  <div id="spolecznosc" class="about-section">
    <header class="section-header">
      <h2>Społeczność <a href="#top" class="go-back" title="Powrót do góry"><span class="icon-arrow-up"
                                                                                  aria-hidden="true"></span><span
        class="sr-only">Powrót do góry</span></a></h2>
    </header>

    <div class="community-section">
      <div class="paragraph-box">
        <div class="photo-box">
          <div class="photo">
            <img
              src="https://images.squarespace-cdn.com/content/v1/638101f1bfb9485af6a60b8f/4e0589e8-91af-4970-b7ee-7bedd08aae01/Rev.+Heng+Sure.jpg"
              alt="Portret Czcigodnego Heng Sure">
          </div>
          <div class="caption">Czcigodny Heng Sure</div>
        </div>
        <div class="text-box">
          <p>
            Czcigodny Heng Sure przyjął święcenia mnisie w 1976 roku. W intencji pokoju na świecie podjął trwającą
            ponad sześćset mil pielgrzymkę z South Pasadena do Ukiah, wykonując trzy kroki i jeden pokłon na całym
            dystansie. Przez pełne dwa lata trwania pielgrzymki zachowywał całkowite milczenie. Czcigodny Heng Sure
            posiada tytuł magistra języków orientalnych uzyskany na Uniwersytecie Kalifornijskim w Berkeley oraz stopień
            doktora Graduate Theological Union w Berkeley. Pełni funkcję dyrektora zarządzającego klasztoru buddyjskiego
            w Berkeley i wykłada w Instytucie Religii Świata. W każdy sobotni wieczór prowadzi wykłady na temat Sutry
            Avatamsaka w klasztorze w Berkeley. Aktywnie angażuje się w dialog międzyreligijny oraz w bieżącą debatę
            nad relacją między duchowością a technologią.
          </p>
        </div>
      </div>

      <div class="paragraph-box">
        <div class="photo-box">
          <div class="photo">
            <img
              src="https://images.squarespace-cdn.com/content/v1/638101f1bfb9485af6a60b8f/24a52b02-ba51-45cb-a9f8-6475110fce07/Jin+Chuan+Shi.jpg"
              alt="mnich Jin Chuan">
          </div>
          <div class="caption">mnich Jin Chuan</div>
        </div>
        <div class="text-box">
          <p>
            Mnich Jin Chuan urodził się w New Jersey i dorastał w Krzemowej Dolinie. W szkole średniej zaczął zgłębiać
            chrześcijaństwo i buddyzm, odkrywając swoje „powołanie” do bycia mnichem – ku zaskoczeniu swojej rodziny
            (i samego siebie). Studiując fizykę i religioznawstwo na Stanfordzie, dołączył do Dharma Realm Buddhist
            Youth i często odwiedzał klasztor buddyjski w Berkeley. W 2005 roku zamieszkał w Mieście Dziesięciu Tysięcy
            Buddów. Został nowicjuszem w 2011 roku, a pełne święcenia mnisie (bhikshu) przyjął w 2013 roku. W 2016 roku
            uzyskał tytuł magistra klasyki buddyjskiej na DRBU, gdzie obecnie pełni funkcję adiunkta i kapelana. Od 2021
            roku Jin Chuan zasiada w zarządzie Buddhist Global Relief, a ostatnio także w Radzie Sanghi BGR.
          </p>
        </div>
      </div>

      <div class="paragraph-box">
        <div class="photo-box">
          <div class="photo">
            <img
              src="https://images.squarespace-cdn.com/content/v1/638101f1bfb9485af6a60b8f/1dab2cce-1f8f-46dc-a255-84bb1c8cdd63/Jin+Wei+Shi+-+portrait.jpg"
              alt="mnich Jin Wei">
          </div>
          <div class="caption">mnich Jin Wei</div>
        </div>
        <div class="text-box">
          <p>
            Mnich Jin Wei urodził się w Polsce i rozpoczął praktykę medytacyjną w 1999 roku. Po prowadzeniu barwnego,
            lecz niespełniającego stylu życia artystycznej bohemy, natknął się na polskie tłumaczenie Sutry Szóstego
            Patriarchy, które zainspirowało go do oddania się praktyce Dharmy i służbie. Jako wolontariusz pracował w
            różnych szpitalach i pomagał organizować delegacje DRBA do Europy. W 2013 roku przybył do Miasta Dziesięciu
            Tysięcy Buddów jako student Programu Szkoleniowego dla Sanghi i Laikatu. W 2015 roku przyjął święcenia
            nowicjusza, a w 2017 roku pełne święcenia mnisie. W 2020 roku ukończył studia magisterskie z klasyki
            buddyjskiej na DRBU. Jin Wei Shi zasiada w Radzie Sanghi Buddhist Global Relief.
          </p>
        </div>
      </div>

      <div id="mentorzy" class="mentorzy-section">
        <header class="section-header mentorzy-header">
          <h3>Mentorzy <a href="#top" class="go-back" title="Powrót do góry"><span class="icon-arrow-up"
                                                                                   aria-hidden="true"></span><span
            class="sr-only">Powrót do góry</span></a></h3>
        </header>

        <div class="community-section">
          <div class="paragraph-box">
            <div class="photo-box">
              <div class="photo">
                <img
                  src="https://images.squarespace-cdn.com/content/v1/638101f1bfb9485af6a60b8f/3c0cff5c-3936-4ee1-81c0-2a765c4bd11a/Marty.jpeg"
                  alt="dr Martin Verhoeven">
              </div>
              <div class="caption">dr Martin Verhoeven</div>
            </div>
            <div class="text-box">
              <p>
                Dr Martin Verhoeven, podczas treningu pod kierunkiem Czcigodnego Mistrza Hsuan Hua, podjął wraz z
                Czcigodnym Heng Sure pielgrzymkę pełną pokłonów w intencji pokoju na świecie. Ukończył studia doktoranckie
                na Uniwersytecie Wisconsin-Madison. Jego obszary zainteresowań to historyczne nauki buddyzmu oraz proces
                akulturacji religijnej. Dr Verhoeven studiował i wykładał intensywnie w całej Azji, Europie, Stanach
                Zjednoczonych i Kanadzie. Obecnie pełni funkcję dziekana ds. akademickich na Dharma Realm Buddhist
                University (DRBU). W każdy piątkowy wieczór prowadzi wykłady na temat Sutry Szóstego Patriarchy w
                klasztorze buddyjskim w Berkeley.
              </p>
            </div>
          </div>

          <div class="paragraph-box">
            <div class="photo-box">
              <div class="photo">
                <img
                  src="https://images.squarespace-cdn.com/content/v1/638101f1bfb9485af6a60b8f/135f7957-7f7b-4644-8f5b-4a508a75a259/Doug.jpeg"
                  alt="Doug Powers
">
              </div>
              <div class="caption">Doug Powers
              </div>
            </div>
            <div class="text-box">
              <p>
                Doug Powers jest jednym z pierwszych zachodnich uczniów Mistrza Hua. Przez lata pełnił wiele funkcji w
                Dharma Realm Buddhist Association (DRBA), ostatnio jako profesor oraz wiceprezes ds. finansów i
                administracji na Dharma Realm Buddhist University (DRBU). Prowadzi różnorodne zajęcia, od Sutr
                buddyjskich po zachodnie traktaty filozoficzne. Doug uczył również w Berkeley High School przez ponad 40
                lat. Biegle poruszając się zarówno w filozofii zachodniej, jak i myśli buddyjskiej, Doug nieustannie bada
                możliwości zetknięcia buddyzmu ze „współczesnym umysłem”.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
